<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10">
      <p>
        <a ui-sref="home">...Back to routes list</a>
      </p>
      <h2>View selected route: Hyde Park Trail</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <img class="card-img-top" src="../../../assets/placeholder-1200x400.svg" alt="image placeholder" />
        <div class="card-body">
          <h5 class="card-title">Hyde Park Trail</h5>
          <p class="card-text">
            Great walk for dogs on the athletic side and want to stretch their legs for miles and miles in London's beautiful Hyde Park
          </p>
          <a ui-sref="viewMap({mapId: 1})" class="btn btn-primary">View map of route</a>
        </div>
      </div>
    </div>
  </div>
</div>
